$color-light: #FFF;
$color-light-gray: #DDD;
$color-gray: #333;
$color-dark-gray: #1C1C1C;
$color-dark: #050505;
$color-red: #FF0000;
$color-orange: #FF6900;
$color-blue: #4A90E2;
$color-green: #27AE60;
$color-dark-green: #1E8449;
$color-yellow: #FFFF00;